.countryContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 1rem 0;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;

  background-color: rgb(233, 233, 233);
}

.countryFlag {
  width: 60px;
}
